<script type="text/html" id="tpl-animation">
    <header class="page-hd">
        <h1 class="header-title">百度钱包</h1>
        <a class="header-return" data-event="return" href="javascript:void(0)">
            <i class="iconfont icon-arrow-left"></i>
        </a>
    </header>
    <div class="page-bd">
        <section class="animation-section">
            <div class="delta-bx">
                <h2 class="delta-hd">Animation</h2>
            </div>
            <ul class="animation-list">
                <li class="animation-item">
                    <input type="checkbox" id="checkbox-3-3" />
                    <label for="checkbox-3-3"></label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-10-2" checked />
                    <label for="checkbox-10-2"></label>
                </li>
            </ul>
        </section>
    </div>
</script>