<style>
.button-section .du-button{margin-bottom:20px;}
.button-section .case-1,
.button-section .case-2{width:50%;margin:0 auto;}
.button-section .case-2{text-align:justify;font-size:0;}
.button-section .case-2::after{display:inline-block;width:100%;height:0px;font-size:0px;content:".";margin:0px;padding:0px;overflow:hidden;}
.button-section .case-2 .du-button-mini{width:150px;}   
</style>
<script type="text/html" id="tpl-button">

    <header class="page-hd">
        <h1 class="header-title">百度钱包</h1>
        <a class="header-return" data-event="return" href="javascript:void(0)">
            <i class="iconfont icon-arrow-left"></i>
        </a>
    </header>
    <div class="page-bd">
        <section class="button-section">
            <div class="delta-bx">
                <h2 class="delta-hd">Button</h2>
                <div class="delta-bd">

                    <a href="javascript:void(0)" class="du-button du-button-default">Default按钮</a>
                    <a href="javascript:void(0)" class="du-button du-button-default du-button-disabled">Default按钮</a>

                    <a href="javascript:void(0)" class="du-button du-button-primary">Primary按钮</a>
                    <a href="javascript:void(0)" class="du-button du-button-primary du-button-disabled">Primary按钮</a>                    
                    <a href="javascript:void(0)" class="du-button du-button-danger">Danger按钮</a>
                    <a href="javascript:void(0)" class="du-button du-button-danger du-button-disabled">Danger按钮</a>

                    <a href="javascript:void(0)" class="du-button du-button-hollow-primary">按钮</a>
                    <a href="javascript:void(0)" class="du-button du-button-hollow-danger">按钮</a>
                    <a href="javascript:void(0)" class="du-button du-button-hollow-default">按钮</a>

                    <div class="case-1">
                        <a href="javascript:void(0)" class="du-button du-button-mini du-button-primary">小按钮</a>
                        <a href="javascript:void(0)" class="du-button du-button-primary">默认按钮</a>
                        <a href="javascript:void(0)" class="du-button du-button-large du-button-primary">大按钮</a>
                    </div>
                    <div class="case-2">
                        <a href="javascript:void(0)" class="du-button du-button-inline du-button-mini du-button-default">默认按钮</a>
                        <a href="javascript:void(0)" class="du-button du-button-inline du-button-mini du-button-danger">默认按钮</a>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>

</script>