<style>
.dialog-section .delta-bd{padding:0 100px;}
</style>
<script type="text/html" id="tpl-dialog">

    <header class="page-hd">
        <h1 class="header-title">百度钱包</h1>
        <a class="header-return" data-event="return" href="javascript:void(0)">
            <i class="iconfont icon-arrow-left"></i>
        </a>
    </header>
    <div class="page-bd">
        <section class="dialog-section">
            <div class="delta-bx">
                <h2 class="delta-hd">Dialog</h2>
                <div class="delta-bd">
                    <div class="case-1">
                        <a href="javascript:void(0)" class="du-button du-button-danger" onclick="dialogCase1()">点击弹出Dialog样式一</a>
                        <a href="javascript:void(0)" class="du-button du-button-danger" onclick="dialogCase2()">点击弹出Dialog样式二</a>
                        <a href="javascript:void(0)" class="du-button du-button-danger" onclick="dialogCase3()">点击弹出Dialog样式三</a>
                    </div>
                </div>
            </div>
        </section>
        <div style="height:500em"></div>
    </div>

</script>