<script type="text/html" id="tpl-panel">
    <header class="page-hd">
        <h1 class="header-title">百度钱包</h1>
        <a class="header-return" data-event="return" href="javascript:void(0)">
            <i class="iconfont icon-arrow-left"></i>
        </a>
    </header>
    <div class="page-bd">

        <section class="panel-section">
            <div class="delta-bx">
                <h2 class="delta-hd">Panel</h2>
                <div class="delta-bd">

                    <div class="du-panel">
                        <div class="du-panel-hd">文字组合列表</div>
                        <div class="du-panel-bd">
                            <ul class="du-list">
                                <li class="du-item du-item-link">
                                    <a href="#">
                                        <div class="du-item-title">标题文字</div>
                                        <div class="du-item-after"><span class="du-item-txt">说明文字</span></div>
                                    </a>
                                </li>
                                <li class="du-item du-item-link">
                                    <a href="#">
                                        <div class="du-item-title">标题文字</div>
                                        <div class="du-item-after"><span class="du-item-txt">说明文字</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 

                    <div class="du-panel">
                        <div class="du-panel-hd">文字组合列表</div>
                        <div class="du-panel-bd">
                            <ul class="du-list">
                                <li class="du-item du-item-link">
                                    <a href="#">
                                        <div class="du-item-title">标题文字</div>
                                        <div class="du-item-after"><span class="du-item-txt">说明文字</span></div>
                                    </a>
                                </li>
                                <li class="du-item du-item-link">
                                    <a href="#">
                                        <div class="du-item-title">标题文字</div>
                                        <div class="du-item-after"><span class="du-item-txt">说明文字</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 

                </div>
            </div>
        </section>
        
    </div>
</script>