<style>
.flex-section .delta-bd{padding:0 50px;}
.rollBox {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3rem;
    clear: both;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
}
</style>
<script type="text/html" id="tpl-roll">
    <header class="page-hd">
        <h1 class="header-title">百度钱包</h1>
        <a class="header-return" data-event="return" href="javascript:void(0)">
            <i class="iconfont icon-arrow-left"></i>
        </a>
    </header>
    <div class="page-bd">
        <section class="flex-section">
            <div class="delta-bx">
                <h2 class="delta-hd">css3Roll</h2>
                <div class="delta-bd">
                    <div class="rollBox">
                        <a href="###" data-tagid="19">前端工具</a>
                        <a href="###" data-tagid="20">Android</a>
                        <a href="###" data-tagid="21">插件使用</a>
                        <a href="###" data-tagid="22">git</a>
                        <a href="###" data-tagid="23">smarty</a>
                        <a href="###" data-tagid="24">面试</a>
                        <a href="###" data-tagid="26">linux</a>
                        <a href="###" data-tagid="30">h5</a>
                        <a href="###" data-tagid="31">app</a>
                        <a href="###" data-tagid="32">node</a>
                        <a href="###" data-tagid="33">部署</a>
                        <a href="###" data-tagid="34">移动页面</a>
                    </div>  
                </div>
            </div>
        </section>
    </div>
</script>