@duHeaderBorderColor:#B6B6B6;
@duHeaderHeight:82px;
@duHeaderBackgroundColor:#FFF;
@duHeaderLineColor:#DDD;
@duHeaderTitleFontSize:32px;
@duHeaderReturnPadding:0 20px;
@duHeaderActPadding:0 20px;

@duHeaderReturnArrowFontSize:36px;
@duHeaderReturnArrowColor:#999;